- content_for :page_title do
  #{Rails.configuration.x.local_domain}

.wrapper.thicc
  .sidebar-layout
    .main
      .panel
        %h2= Rails.configuration.x.local_domain

        - unless @instance_presenter.site_description.blank?
          %p= @instance_presenter.site_description.html_safe

      .panel
        %h2 Rules
        .section
          %p The following guidelines are not a legal document, and final interpretation is up to the administration of mastodon.social; they are here to provide you with an insight into our content moderation policies:
          %ul
            %li
              The following types of content will be removed from the public timeline:
              %ul
                %li Excessive advertising
                %li Uncurated news bots posting from third-party news sources
                %li Untagged pornography and sexually explicit content
                %li Untagged gore and extremely graphic violence
            %li
              The following types of content will be removed from the public timeline, and may result in account suspension and revocation of access to the service:
              %ul
                %li Racism or advocation of racism
                %li Sexism or advocation of sexism
                %li Racism, Discrimination against gender and sexual minorities, or advocation thereof
                %li Xenophobic and/or violent nationalism
            %li
              The following types of content are explicitly disallowed and will result in revocation of access to the service:
              %ul
                %li Content illegal in Hong Kong
            %li
              Any conduct intended to stalk or harass other users, or to impede other users from utilizing the service, or to degrade the performance of the service, or to harass other users, or to incite other users to perform any of the aforementioned actions, is also disallowed, and subject to punishment up to and including revocation of access to the service. This includes, but is not limited to, the following behaviors:
              %ul
                %li Continuing to engage in conversation with a user that has specifically has requested for said engagement with that user to cease and desist may be considered harassment, regardless of platform-specific privacy tools employed.
                %li Aggregating, posting, and/or disseminating a person's demographic, personal, or private data without express permission (informally called doxing or dropping dox) may be considered harassment.
                %li Inciting users to engage another user in continued interaction or discussion after a user has requested for said engagement with that user to cease and desist (informally called brigading or dogpiling) may be considered harassment.
          %p These provisions notwithstanding, the administration of the service reserves the right to revoke any user's access permissions, at any time, for any reason, except as limited by law.

          %h2 Contact
          %p You can contact me at Twitter [@siuying](http://twitter.com/siuying/) if you cannot contact me via [mastodon.hk](https://mastodon.hk/@siuying)

      .information-board
        .section
          %span= t 'about.user_count_before'
          %strong= number_with_delimiter @instance_presenter.user_count
          %span= t 'about.user_count_after'
        .section
          %span= t 'about.status_count_before'
          %strong= number_with_delimiter @instance_presenter.status_count
          %span= t 'about.status_count_after'
        .section
          %span= t 'about.domain_count_before'
          %strong= number_with_delimiter @instance_presenter.domain_count
          %span= t 'about.domain_count_after'
    .sidebar
      .panel
        .panel-header= t 'about.contact'
        .panel-body
          - if @instance_presenter.contact_account
            .owner
              .avatar= image_tag @instance_presenter.contact_account.avatar.url
              .name
                = link_to TagManager.instance.url_for(@instance_presenter.contact_account) do
                  %span.display_name.emojify= display_name(@instance_presenter.contact_account)
                  %span.username= "@#{@instance_presenter.contact_account.acct}"

          - unless @instance_presenter.contact_email.blank?
            .contact-email
              = t 'about.business_email'
              %strong= @instance_presenter.contact_email
      .panel
        .panel-header= t 'about.links'
        .panel-list
          %ul
            - if user_signed_in?
              %li= link_to t('about.get_started'), root_path
            - else
              %li= link_to t('about.get_started'), new_user_registration_path
              %li= link_to t('auth.login'), new_user_session_path
            %li= link_to t('about.terms'), terms_path
            %li= link_to t('about.source_code'), 'https://github.com/tootsuite/mastodon'
